@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root {
    --blue: hsl(223, 87%, 63%);
    --paleBlue: hsl(223, 100%, 88%);
    --lightRed: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --veryDarkBlue: hsl(209, 33%, 12%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    min-height: 100vh;
}
.main_container {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 5.313rem auto;
    width: 44.445%;
}
.logo_container {
    background-image: url(../src/img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1.563rem;
    width: 13%;
}
.subscribe_container {
    text-align: center;
    width: 100%;
}
h1 {
    color: var(--gray);
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 3.438rem 0 1.25rem 0;
}
h1 span {
    color: var(--veryDarkBlue);
    font-weight: 700;
}
.inputs_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2.5rem 0 5.625rem 0;
    position: relative;
}
.input_email {
    border: 1px solid var(--gray);
    border-radius: 25px;
    padding: 19px 28px;
    width: 65.7%;
}
.input_label {
    bottom: -40%;
    color: var(--lightRed);
    display: none;
    font-size: 0.8rem;
    position: absolute;
    left: 5%;
}
.btn_notify {
    background-color: var(--blue);
    border: none;
    border-radius: 25px;
    box-shadow: -5px 37px 52px -20px var(--paleBlue, 0.5);
    color: white;
    font-size: 1.1rem;
    padding: 18px 65px;
    width: 31.4%;
}
.btn_notify:hover {
    cursor: pointer;
    opacity: 0.7;
}
.image_container {
    background-image: url(../src/img/illustration-dashboard.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 390px;
    margin-bottom: 4.375rem;
    width: 100%;
}
.icon_social {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.7rem;
}
.icon_facebook, .icon_twitter, .icon_instagram{
    align-items: center;
    border: 1px solid var(--paleBlue);
    border-radius: 50%;
    display: inline-flex;
    fill: var(--blue);
    height: 30px;
    justify-content: center;
    width: 30px;
}
svg {
    height: 15px;
    width: 15px;
}
.icon_facebook:hover , .icon_twitter:hover , .icon_instagram:hover {
    background-color: var(--blue);
    cursor: pointer;
    fill: white !important;
}
.footer p {
    color: var(--gray);
    font-size: 0.7rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
/* Responsive Design */
@media screen and (max-width: 1024px) {
    .main_container {
        width: 60%;
    }
    .logo_container {
        background-size: contain;
        width: 18%;
    }
}
@media screen and (max-width: 768px) {
    .main_container {
        width: 80%;
    }
    .logo_container {
        height: 2rem;
        width: 20%;
    }
}
@media screen and (max-width: 520px) {
    .main_container {
        width: 80%;
    }
    h1 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin: 5.313rem 0 3.125rem 0;
    }
    p {
        font-size: 0.9rem;
    }
    .inputs_container {
        flex-direction: column;
    }
    .input_email {
        margin-bottom: 1rem;
        width: 100%;
    }
    .btn_notify {
        width: 100%;
    }
    .input_label {
        bottom: 45%;
        font-size: 0.7rem;
        right: 10%;
    }
}